* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}
/* Fuentes */
:root {
    --fuente-Trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --fuente-NewRoman: 'Times New Roman', Times, serif;
    --fuente-Arial: Arial, sans-serif;
    --Colorf0: #f0f0f0;
    --Color-Fondo: #f9f9f9;
    --Color-Titulo: #333;
    --Color-Texto: #666;
    --Color-DescripcionT: #a5a5a5;
  }
/*-------------------------------------------------------------*/
/* Hamburguesa */
.menu-hamburguesa {
    display: none; 
    font-size: 24px;
    color: var(--Colorf0);
    cursor: pointer;
}

nav {
    position: relative; 
}

#nav-menu {
    display: flex; 
}

@media (max-width: 769px) {
    .menu-hamburguesa {
        display: block; 
    }

    #nav-menu {
        display: none; 
        flex-direction:column;
        position: absolute;
        top: 42px;
        left: 0; 
        width: 100%; 
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 1000;
        padding: 0;
        margin: 0; 
    }

    #nav-menu.show {
        display: flex; 
    }

    nav ul {
        flex-direction:row; 
        padding: 0; 
        margin: 0; 
        list-style-type: none; 
    }

    nav ul li {
        text-align: left; /* Alinea a la izquierda */
        padding: 10px; /* Espaciado */
        border-bottom: 0px; /* Un borde opcional entre las opciones */
        margin: 0; 
        z-index: 9999;
    }
}
@media (max-width: 426px){
    #nav-menu {
        top: 36px; /* Ajusta según sea necesario */
    }
}
@media (max-width: 377px){
    #nav-menu {
        top: 34px; 
    }
}
@media (max-width: 321px){
    #nav-menu {
        top: 33px;
    }
}
/* Fin hamburguesa */
/* CARRUSEL */
.carousel-title{

    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--Colorf0);
    font-size: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
    z-index: 2; 

}

.container_carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.85);
    overflow: hidden;
}
@media(max-width: 1081px){
    .container_carrusel{
        height: 400px;
    }
}
@media(max-width: 600px){
    .container_carrusel{
        height: 300px;
    }
    .carousel-title{
        background-color: transparent;
        padding: 0;
        font-size: 2rem;
    }
}
@media(max-width: 500px){
    .container_carrusel{
        height: 200px;
    }
    .carousel-title{
        font-size: 1rem;
    }
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    transform: translateY(0); 
    filter: brightness(0.5);
    z-index: 1;
}

.carousel-img.active {
    opacity: 1;
    position: relative;
    transform: translateY(0);
}

.carousel-item {
    display: none; 
}

.carousel-item.active {
    display: block; 
}

.carousel-item.active ~ .carousel-title {
    opacity: 1;
}

.carousel-img.prev {
    transform: translateX(-100%); /* Imagen anterior se desliza a la izquierda */
}

.carousel-img.next {
    transform: translateX(100%); /* Imagen siguiente se desliza a la derecha */
}

.carousel-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--Colorf0);
    z-index: 10;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/*HEADER CARRUSEL*/
.container_carrusel_header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 8%;
    position: relative;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: var(--Colorf0);
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}


/*EFECTO SUAVE "CONTACTOS"*/

html {
    scroll-behavior: smooth;
  }

/*SLIDER CATEGORIAS*/
.submenu {

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    list-style: none;
    z-index: 1;

}

.submenu li {
    margin: 10px 0px;
}


.submenu li a {
    color: var(--Colorf0);
    text-decoration: none;
    font-size: 150%;
}

.submenu.active {
    display: block;
    animation: slideDown 0.4s ease;
}
.submenu2 {

    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    list-style: none;
    z-index: 1;

}

.submenu2 li {
    margin: 10px 0px;
}

.submenu2 li a {
    color: var(--Colorf0);
    text-decoration: none;
    font-size: 16px;
}

.submenu2.active {
    display: block;
    animation: slideDown 0.4s ease;
}
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Redes sociales */
.container_redes ul {
    display: flex;
    list-style: none;
}

.container_redes ul li {
    padding: 0 10px;
}

.container_redes ul li a {
    color: var(--Colorf0);
    font-size: 150%;
    transition: color 0.3s;
}

.container_redes ul li a:hover {
    color: #f0a500;
}

/*-------------------------------------------------------------*/



/*Inicio--------PLANTELES Femeninos----------------------------------*/


/*TITULO*/
.container_planteles_title{
    height: 20vh;
    color: var(--Colorf0);
    background-color:  rgba(0, 0, 0, 0.87);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.container_planteles_title h2 {
    font-size: 3.7rem;
    color: var(--Color-DescripcionT); 

}

.container_planteles_jugadores {

    height: 2200px;
    background-color:var(--Color-Fondo);
    background-color:  rgba(0, 0, 0, 0.85);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}
.container_planteles_jugadores2 {

    height: 1760px;
    background-color:var(--Color-Fondo);
    background-color:  rgba(0, 0, 0, 0.85);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.container_planteles_jugadores3 {

    height: 2180px;
    background-color: var(--Color-Fondo);
    background-color:  rgba(0, 0, 0, 0.85);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}
.container_planteles_jugadores4 {

    height: 1750px;
    background-color: var(--Color-Fondo);
    background-color:  rgba(0, 0, 0, 0.85);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.container_planteles_jugadores_tarjeta{
    height: 100%;
    padding: 20px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #ccc;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.tarjeta{
    background-color: var(--Color-Fondo);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    overflow: hidden;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.tarjeta img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.descripcion{
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: var(--Colorf0);
    font-size: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 5), transparent);
    text-align: center;
}

.descripcion h3{
    margin: 10px 0;
    font-size: 1.7rem;
}

.descripcion p{
    font-size: 1.3rem;
    color: var(--Color-DescripcionT);
}

/*fin-----------PLANTELES Femeninos-------------------------------------*/
/*------------Responsive------------*/
@media (max-width: 426px) {
    .carousel-title{
        font-size: 1.2rem;
    }
    .container_carrusel{
        width: 100%;
        height: 200px;
    } 
    .container_planteles_title h2{
        font-size: 3rem;
    }
    .container_planteles_jugadores{
        height: 6350px;
    }
    .container_planteles_jugadores2{
        height: 4650px;
    }
    .container_planteles_jugadores3{
        height: 6350px;
    }
    .container_planteles_jugadores4{
        height: 3350px;
    }
    .container_planteles_jugadores_tarjeta{
        display: flex;
        flex-direction: column;
    }

}
/*------------Responsive------------*/
/*Inicio----------Footer-content---------*/

.footer-content{
    display: flex;
    font-family:var(--fuente-Trebuchet);
    font-size: 22px;
    color: var(--Colorf0);
    background-color:  rgba(0, 0, 0, 0.85);
    padding: 1.5rem; 
    text-align: center;
    flex-direction: column;
    align-items: center;

}
.info{
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer-content div{
    margin-bottom: 20px;
}

.footer-content .Logo{
    align-items: center;
    height: auto;
    width:30%;
    margin: 10px;

}

.separador {
    height: 2px;
    width: 70%;
    background-color: #ccc;
}
@media (max-width: 769px){
    .info{
        flex-direction: column;
    }
    .footer-content .Logo{
        height: auto;
        width:17%;
        margin: 10px;
    
    }
    .footer-content p{
        font-size: 17px;
    }
    nav ul li a{
        font-size: 70%;
    }
    .container_redes ul li a{
        font-size: 90%;
    }
    ul.submenu.active{
        padding: 3px;
        z-index: 9999;
    }
    ul.submenu li{
        font-size: 5px;
        margin: 5px;
        padding: 5px;
        z-index: 9999;
    }
    ul.submenu2.active{
        padding: 4px;
    }
    ul.submenu2 li{
        font-size: 4px;
        margin: 4px;
        padding: 4px;
    }

}
@media (max-width: 500px) {
    ul.submenu2.active{
        padding: 1px;
    }
    ul.submenu2 li{
        margin: 1px;
        padding: 1px;
    }
    ul.submenu2 li a{
        font-size: 10px;
    }
}
@media (max-width: 400px) {
    nav ul li a{
        font-size: 50%;
    }
    .container_redes ul li a{
        font-size: 70%;
    }
    ul.submenu.active{
        padding: 2px;
    }
    ul.submenu li{
        font-size: 4px;
        margin: 4px;
        padding: 4px;
    }
}
/*Fin----------Footer----------*/